.video-player {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: #0D0E13;
    cursor: pointer;
}

.video-player video {
    height: 100%;
    width: 100%;
    background: #0D0E13;
}